body{
    margin: 0  0px;
}
#container3{
    background-color:white;
    width: 100%;
    height: 700px;
}
.library{
    background-color: white;
    width: 550px;
    height: 400px;
    position: absolute;
    top: 110px;
    left: 120px;
    box-shadow: 2px 4px 4px 1px grey;
    z-index: 2;
}
.library p{
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}
.library p b{
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px
}
.foto img{
    width: 650px;
    height: 450px;
    position: relative;
    float: right;
    right: 100px;
    top: 50px;
    z-index: 1;
}
.cap{
    background-color: rgb(128, 0, 128);
    width: 150px;
    height: 40px;
    padding-top: 20px;
    text-align: center;
    border: 2px solid black;
    position: absolute;
    bottom: 50px;
    left: 50px;
    transition: background-color 0.5s;
    
}
.cap  a{
    color: black;
    text-decoration: none;
    
    
}
.cap:hover{
    background-color: white;
   
}
h3{
    color: rgb(83, 115, 255);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
img{
    width: 200px;
    height: 140px;
    margin: 22px;

}
p{
    margin: 10px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

}
a{
    text-decoration: none;
    color:  rgb(83, 115, 255);
}
a:hover{
    text-decoration:underline;
}
#container1{
    width: 100%;
    height: 1000px;
    background-color: rgb(61, 86, 133);
    display: flex;
    flex-wrap: wrap;
   
}
.asul{
    background-color: rgb(255, 255, 255);
    width: 260px;
    position: relative;
    float: left;
    margin: 50px 20px;
    padding: 10px;
    font-size: 20px
    
}
#container2{
    background-color: rgb(24, 201, 162);
    width: 100%;
    height: 360px;
    position: absolute;
    bottom: -1400px;
    color: white;
    

}
h1{
    font-family: 'Times New Roman', Times, serif;
    padding-top: 50px;
    margin: 20px 70px;
    font-size: 40px;

}

li{
    background-color: white;
    width: 350px;
    height: 40px;
    border: 4px solid rgb(156, 191, 214);
    color: rgb(18, 18, 168);
    position: relative;
    float: left;
    left: 0%;
    margin: 20px;
    padding-top: 30px;
    text-align: center;

}
li:hover{
    background-color: rgb(190, 190, 214);

}
li a{
    color: rgb(0, 0, 116);
}
ul{
    list-style-type: none;
}
